* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Variables */
:root {
  --primaryColor: #ffffff;
  --secondaryColor: #6E8C78;
  --tertiaryColor: #ACC3AC;
  --fourthColor: #BCCBB5;
  --fifthColor: #AFDCC6;
  --sixthColor: #1c1b1f;
  --primaryFont: "Coming Soon", cursive;
  --secondaryFont: "Dancing Script", cursive;
}

.intro .logo .nails {
  font-family: var(--primaryFont);
  font-size: 40px;
}

body {
  background-color: var(--primaryColor);
  font-family: var(--primaryFont);
}

/* NavBar */
.navbar {
  z-index: 1;
  position: relative;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  box-sizing: border-box;
  font-family: var(--primaryFont);
  font-size: 21px;
  background-color: var(--primaryColor);
  box-shadow: 0px 2px 10px 2px rgba(75, 75, 75, 0.2);
}

.navbar a {
  color: black;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.navbar .logo {
  width: 100px;
  height: 100px;
}

.navbar .nav-links ul {
  display: flex;
  align-items: center;
}

.navbar .nav-links ul li {
  margin: 0 10px;
  position: relative;
}

.navbar .nav-links ul li .social-link img {
  width: 30px;
  margin-right: 0;
}

.navbar .nav-links ul li.active a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 90px;
  background-image: url("assets/fond-navbar.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.navbar .nav-links .social-link {
  padding: 15px 0;
}

.navbar .menu_burger {
  display: none;
  position: absolute;
  top: 23px;
  right: 40px;
  width: 35px;
}

.btn {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border: none;
  padding: 1.5vw 2vw;
  cursor: pointer;
  border-radius: 50px;
  font-family: var(--primaryFont);
  font-size: 1.6vw;
  margin-top: 2vw;
}

@media (max-width: 1000px) {
  .navbar {
    padding: 0;
    width: 100%;
    height: 80px;
    background-color: var(--primaryColor);
    font-size: 20px;
  }

  .navbar .menu_burger {
    display: block;
  }

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.336);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 20px 0;
    font-size: 18px;
  }

  .navbar .nav-links ul li a {
    padding: 10px 20px;
    font-size: 16px;
  }

  .navbar .logo {
    width: 80px;
    height: 80px;
  }
  .btn {
    padding: 2.5vw 3vw;
    font-size: 2.5vw;
    margin-top: 2vw;
  }
}

/* Footer */
.footer {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  padding: 2vw 0;
  font-family: var(--primaryFont);
}

.footer .container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 2vw;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1em;
}

.footer-section ul li a {
  color: var(--primaryColor);
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section .social-links img {
  width: 30px;
  height: 30px;
}

.footer-bottom {
  text-align: center;
  font-size: 0.875em;
  margin-top: 1em;
}

@media (max-width: 768px) {
  .footer .container-footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin: 1em 0;
  }

  .footer-section ul {
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }

  .footer-section .social-links {
    margin-top: 1em;
  }
}

/* HomePage */
/* Intro */
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 5vw;
}

.intro .int {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro .int h1 {
  font-family: var(--primaryFont);
  font-size: 8vw;
  margin: 0;
}

.intro .int .nails {
  z-index: 0;
  font-family: var(--secondaryFont);
  font-size: 8vw;
  transform: translate(12vw, 0);
  margin-top: -8vw;
}

.intro .int p {
  font-family: var(--primaryFont);
  font-size: 2vw;
  width: 80%;
  margin-top: 1vw;
}

.intro .illustration img {
  width: 35vw;
}

@media (max-width: 500px) {
  .intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1vw 5vw;
  }

  .intro .int h1 {
    font-size: 12vw;
    margin: 0;
  }

  .intro .int .nails {
    font-size: 12vw;
    transform: translate(16vw, 0);
    margin-top: -10vw;
  }

  .intro .int p {
    font-size: 4vw;
    width: 90%;
    margin-top: 1vw;
  }

  .intro .illustration img {
    width: 60vw;
  }
}
/* Slider pres */
.container {
  width: 100%;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 
              0 9px 46px 8px rgba(0, 0, 0, 0.12), 
              0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

 #left-btn, #right-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 10%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

button .arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 0.5vw;
  transition: transform 0.3s ease-out;
  outline: none;
}

#left-btn {
  left: 10px;
}

#left-btn .arrow {
  transform: rotate(135deg);
}

#right-btn {
  right: 10px;
}

#right-btn .arrow {
  transform: rotate(-45deg);
}

.container .carousel-item {
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; /* Assure que les items prennent toute la hauteur du conteneur */
}

.container .carousel-item.active {
  display: block; /* Display the active item */
}

.container img {
  width: 100%;
  height: 100%; /* Assure que les images prennent toute la hauteur du conteneur */
  object-fit: cover;
}

/* Présentation */
.presentation {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--secondaryColor);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%; /* Assure que la présentation prend toute la hauteur du conteneur */
  box-sizing: border-box;
}

.pres {
  background-color: var(--fifthColor);
  padding: 3% 5vw;
  border-radius: 0% 60% 0% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Assure que la présentation prend toute la hauteur du conteneur */
}

.pres #photo-margot {
  z-index: 1;
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
}

.description {
  color: var(--primaryColor);
  padding: 0 8vw;
  text-align: center;
}

.description p {
  font-family: var(--secondaryFont);
  font-size: 2vw;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .container{
    height: 115vw;
  }

  .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pres {
    padding: 6vw 40%;
    border-radius: 0% 0% 60% 0%;
  }

  .pres #photo-margot {
    width: 45vw;
    height: 45vw;
  }

  .description {
    color: var(--primaryColor);
    padding: 3vw;
    text-align: center;
  }

  .description p {
    font-family: var(--secondaryFont);
    font-size: 5vw;
    margin-bottom: 10px;
  }
}



/* Logo percutant */
.logo {
  display: flex;
  justify-content: center;
  margin: 2vw;
}

.logo .b-logo {
  align-items: center;
  text-align: center;
  margin: 2.5vw;
  justify-content: center;
  font-size: 1.5vw;
}

.logo .b-logo img {
  width: 10vw;
  padding: 1vw;
}

@media (max-width: 500px) {
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vw;
  }

  .logo .b-logo {
    margin: 2vw;
    justify-content: center;
    font-size: 3vw;
  }

  .logo .b-logo img {
    width: 20vw;
    padding: 1vw;
  }
}
/* Slider Diplome */
/* Styles pour le conteneur principal .menu */
.menu {
  background-color: var(--secondaryColor); /* Couleur de fond du conteneur */
  overflow: hidden; /* Cache tout contenu dépassant des dimensions spécifiées */
  cursor: grab; /* Curseur de type "grab" lorsqu'on survole le conteneur */
  width: 100%; /* Largeur du conteneur est de 100% de son parent */
  height: 70vh; /* Hauteur du conteneur est de 70% de la hauteur de la fenêtre */
  position: relative; /* Positionnement relatif pour le positionnement de ses enfants */
  z-index: 1; /* Empilement au-dessus des autres éléments */
}

/* Styles lorsque le conteneur .menu est en cours de glissement (dragging) */
.menu.is-dragging {
  cursor: grabbing; /* Curseur de type "grabbing" lorsqu'en cours de glissement */
}

/* Styles pour le conteneur des éléments .menu-wrapper */
.menu-wrapper {
  display: flex; /* Utilisation de Flexbox pour les éléments enfants */
  position: absolute; /* Positionnement absolu par rapport à son parent positionné */
  height: 100%; /* Hauteur est de 100% de son conteneur */
  width: 100%; /* Largeur est de 100% de son conteneur */
  padding: 2vw; /* Espacement intérieur de 2% de la largeur de la fenêtre */
  top: 0; /* Position en haut par rapport à son parent */
  left: 0; /* Position à gauche par rapport à son parent */
}

/* Styles pour chaque élément individuel .menu-item */
.menu-item {
  position: relative; /* Positionnement relatif pour le positionnement de ses enfants */
  width: 30vw; /* Largeur est de 30% de la largeur de la fenêtre */
  height: 100%; /* Hauteur est de 100% de son conteneur */
  padding: 0 1.5vw; /* Espacement intérieur de 0 en haut/bas et 1.5% de la largeur de la fenêtre à gauche/droite */
  overflow: hidden; /* Cache tout contenu dépassant des dimensions spécifiées */
  display: flex; /* Utilisation de Flexbox pour les éléments enfants */
  flex-direction: column; /* Alignement en colonne des éléments enfants */
  user-select: none; /* Empêche la sélection de texte à l'intérieur */
}

/* Media query pour les écrans plus petits */
@media (max-width: 767px) {
  .menu-item {
    width: 40vw; /* Largeur est de 40% de la largeur de la fenêtre pour les écrans plus petits */
    height: 40vw; /* Hauteur est de 40% de la largeur de la fenêtre pour les écrans plus petits */
  }
}

/* Styles pour l'élément figure à l'intérieur de .menu-item */
.menu-item figure {
  position: relative; /* Positionnement relatif pour positionner l'élément figure */
  z-index: 1; /* Empilement au-dessus des autres éléments de même niveau */
  display: block; /* Affichage comme un bloc */
  padding: 0; /* Aucun espacement intérieur */
  border: none; /* Aucune bordure */
  outline: none; /* Aucun contour */
  box-shadow: none; /* Aucune ombre portée */
  cursor: pointer; /* Curseur de type pointeur */
  width: 100%; /* Largeur est de 100% de son conteneur .menu-item */
  height: auto; /* Hauteur ajustée automatiquement selon l'image */
  overflow: hidden; /* Cache tout contenu dépassant des dimensions spécifiées */
  pointer-events: none; /* Désactive la prise en compte des événements de pointeur */
  transform-origin: center; /* Origine de la transformation centrée */
}

/* Styles pour l'image à l'intérieur de .menu-item figure */
.menu-item figure img {
  width: 100%; /* Largeur est de 100% de son conteneur figure */
  height: auto; /* Hauteur ajustée automatiquement selon l'image */
  object-fit: cover; /* Ajuste la taille de l'image pour remplir l'espace disponible */
  vertical-align: middle; /* Alignement vertical au milieu */
  transform-origin: center; /* Origine de la transformation centrée */
}

/* Styles pour le pied de page .version */
.version {
  display: inline-block; /* Affichage en ligne */
  position: fixed; /* Positionnement fixe par rapport à la fenêtre */
  text-align: center; /* Centre le texte */
  z-index: 1; /* Empilement au-dessus des autres éléments */
  text-decoration: none; /* Aucune décoration de texte */
  background: #333; /* Couleur de fond gris foncé */
  font-family: sans-serif; /* Police sans-serif */
  color: #fff; /* Couleur du texte blanc */
  text-transform: uppercase; /* Texte en majuscules */
  font-size: 12px; /* Taille de police de 12 pixels */
  border-radius: 10px; /* Bordure arrondie */
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2); /* Ombre portée */
  top: -30px; /* Position en haut par rapport à son parent */
  right: -50px; /* Position à droite par rapport à son parent */
  bottom: auto; /* Réinitialise toute valeur de 'bottom' définie précédemment */
  transform: rotate(45deg); /* Rotation de 45 degrés */
  transform-origin: 0% 100%; /* Origine de la transformation centrée sur le coin inférieur gauche */
  padding: 8px 30px; /* Espacement intérieur */
  font-size: 11px; /* Taille de police de 11 pixels */
}

/* Media query pour les écrans plus petits */
@media (max-width: 767px) {
  .version {
    transform: scale(.6) rotate(45deg); /* Réduit l'échelle et la rotation pour les écrans plus petits */
    right: -100px; /* Réajuste la position à droite pour les écrans plus petits */
  }
}


/* Slider Avis */
/* En cours */

/* Carte */
.adresse {
  text-align: center;
  margin: 3vw;
  font-family: var(--secondaryFont);
}

.adresse p {
  font-size: 3vw;
  margin-bottom: 1vw;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

.social-link img {
  width: 4vw;
  height: 4vw;
}

iframe {
  display: block;
  margin: 0 auto;
  border: 0;
  width: 80vw;
  height: 40vw;
}

@media (max-width: 500px) {
  .adresse p {
    font-size: 5.5vw;
    margin-bottom: 1vw;
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
  }

  .social-link img {
    width: 8vw;
    height: 8vw;
  }

  iframe {
    display: block;
    margin: 0 auto;
    border: 0;
    width: 80vw;
    height: 40vw;
  }
}

/* Page Prestations */
.prestation {
  margin: 2vw;
  text-align: center;
}

.prestation h1{
  margin: 2vw;
}
.prestation .presta {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vw;
}

.prestation .presta:nth-child(odd) {
  flex-direction: row;
}

.prestation .presta:nth-child(even) {
  flex-direction: row-reverse;
}

.prestation .presta .presta-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 3vw;
}

.prestation .presta .presta-description .prix{
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border: none;
  padding: 1.5vw 2vw;
  border-radius: 50px;
  font-family: var(--primaryFont);
  font-size: 1.6vw;
  margin-top: 2vw;
}

.prestation img {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .prestation {
    margin: 2vw;
    text-align: center;
  }

  .prestation .presta {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 2vw;
  }
  
  .prestation .presta:nth-child(odd) img {
    flex-direction: row;
    border-radius: 60% 0% 0% 60%;
    width: 35vw;
    height: 35vw;
  }
  
  .prestation .presta:nth-child(even) img {
    flex-direction: row-reverse;
    border-radius: 0% 60% 60% 0%;
    width: 35vw;
    height: 35vw;
  }
  
  .prestation .presta .presta-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 3vw;
  }
  
  .prestation .presta .presta-description .prix{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    border: none;
    padding: 1.5vw 2vw;
    border-radius: 50px;
    font-family: var(--primaryFont);
    font-size: 1.6vw;
    margin-top: 2vw;
  }
}







/* Page Nuanciers  */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}