* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Variables */
:root {
  --primaryColor: #ffffff;
  --secondaryColor: #6E8C78;
  --tertiaryColor: #ACC3AC;
  --fourthColor: #BCCBB5;
  --fifthColor: #AFDCC6;
  --sixthColor: #1c1b1f;
  --primaryFont: "Coming Soon", cursive;
  --secondaryFont: "Dancing Script", cursive;
}

.intro .logo .nails {
  font-family: var(--primaryFont);
  font-size: 40px;
}

body {
  background-color: var(--primaryColor);
  font-family: var(--primaryFont);
}

/* NavBar */

.navbar.fixed {
  position: fixed;
}

.navbar {
  z-index: 10;
  position: relative;
  top: 0;
  left: 0;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  font-family: var(--primaryFont);
  font-size: 21px;
  background-color: var(--primaryColor);
  box-shadow: 0px 2px 10px 2px rgba(75, 75, 75, 0.2);
}

.navbar a {
  color: black;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.navbar .logo {
  width: 100px;
  height: 100px;
}

.navbar .nav-links ul {
  display: flex;
  align-items: center;
}

.navbar .nav-links ul li {
  margin: 0 10px;
  position: relative;
}

.navbar .nav-links ul li .social-link img {
  width: 30px;
  margin-right: 0;
}

.navbar .nav-links ul li.active a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 90px;
  background-image: url("assets/fond-navbar.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.navbar .nav-links .social-link {
  padding: 15px 0;
}

.navbar .menu_burger {
  display: none;
  position: absolute;
  top: 23px;
  right: 40px;
  width: 35px;
}

.btn {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border: none;
  padding: 1.5vw 2.5vw;
  cursor: pointer;
  border-radius: 50px;
  font-family: var(--primaryFont);
  font-size: 1.6vw;
  margin-top: 2vw;
}

@media (max-width: 1000px) {
  .navbar {
    padding: 0;
    width: 100%;
    height: 80px;
    background-color: var(--primaryColor);
    font-size: 20px;
  }

  .navbar .menu_burger {
    display: block;
  }

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 20px 0;
    font-size: 18px;
  }

  .navbar .nav-links ul li a {
    padding: 10px 20px;
    font-size: 16px;
  }

  .navbar .logo {
    width: 80px;
    height: 80px;
  }
  .btn {
    padding: 1vw 2vw;
    font-size: 2.5vw;
    margin-top: 2vw;
  }
}

/* Footer */
.footer {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  padding: 2vw 0;
  font-family: var(--primaryFont);
}

.footer .container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 2vw;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1em;
}

.footer-section ul li a {
  color: var(--primaryColor);
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section .social-links img {
  width: 30px;
  height: 30px;
}

.footer-bottom {
  text-align: center;
  font-size: 0.875em;
  margin-top: 1em;
}

@media (max-width: 768px) {
  .footer .container-footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin: 1em 0;
  }

  .footer-section ul {
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }

  .footer-section .social-links {
    margin-top: 1em;
  }
}

/* HomePage */
/* Intro */
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 5vw;
}

.intro .int {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro .int h1 {
  font-family: var(--primaryFont);
  font-size: 8vw;
  margin: 0;
}

.intro .int .nails {
  z-index: 0;
  font-family: var(--secondaryFont);
  font-size: 8vw;
  transform: translate(12vw, 0);
  margin-top: -8vw;
}

.intro .int p {
  font-family: var(--primaryFont);
  font-size: 2vw;
  width: 80%;
  margin-top: 1vw;
}

.intro .illustration img {
  width: 35vw;
}

@media (max-width: 500px) {
  .intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1vw 5vw;
  }

  .intro .int h1 {
    font-size: 12vw;
    margin: 0;
  }

  .intro .int .nails {
    font-size: 12vw;
    transform: translate(16vw, 0);
    margin-top: -10vw;
  }

  .intro .int p {
    font-size: 4vw;
    width: 90%;
    margin-top: 1vw;
  }

  .intro .illustration img {
    width: 60vw;
  }
}
/* Slider pres */
.container {
  width: 100%;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 
              0 9px 46px 8px rgba(0, 0, 0, 0.12), 
              0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

 #left-btn, #right-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 10%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

button .arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 0.5vw;
  transition: transform 0.3s ease-out;
  outline: none;
}

#left-btn {
  left: 10px;
}

#left-btn .arrow {
  transform: rotate(135deg);
}

#right-btn {
  right: 10px;
}

#right-btn .arrow {
  transform: rotate(-45deg);
}

.container .carousel-item {
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; /* Assure que les items prennent toute la hauteur du conteneur */
}

.container .carousel-item.active {
  display: block; /* Display the active item */
}

.container img {
  width: 100%;
  height: 100%; /* Assure que les images prennent toute la hauteur du conteneur */
  object-fit: cover;
}

/* Présentation */
.presentation {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--secondaryColor);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%; /* Assure que la présentation prend toute la hauteur du conteneur */
  box-sizing: border-box;
}

.pres {
  background-color: var(--fifthColor);
  padding: 3% 5vw;
  border-radius: 0% 60% 0% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Assure que la présentation prend toute la hauteur du conteneur */
}

.pres #photo-margot {
  z-index: 0;
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
}

.description {
  color: var(--primaryColor);
  padding: 0 8vw;
  text-align: center;
}

.description p {
  font-family: var(--secondaryFont);
  font-size: 2vw;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .container{
    height: 115vw;
  }

  .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pres {
    padding: 6vw 40%;
    width: 100vw;
    border-radius: 0% 0% 60% 0%; 
  }

  .pres #photo-margot {
    width: 45vw;
    height: 45vw;
  }

  .description {
    color: var(--primaryColor);
    padding: 3vw;
    text-align: center;
  }

  .description p {
    font-family: var(--secondaryFont);
    font-size: 5vw;
    margin-bottom: 10px;
  }
}


/* Logo percutant */
.logo {
  display: flex;
  justify-content: center;
  margin: 2vw;
}

.logo .b-logo {
  align-items: center;
  text-align: center;
  margin: 2.5vw;
  justify-content: center;
  font-size: 1.5vw;
}

.logo .b-logo img {
  width: 10vw;
  padding: 1vw;
}

@media (max-width: 500px) {
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vw;
  }

  .logo .b-logo {
    margin: 2vw;
    justify-content: center;
    font-size: 3vw;
  }

  .logo .b-logo img {
    width: 20vw;
    padding: 1vw;
  }
}
/* Slider Diplome */
swiper-container {
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: var(--fourthColor);
  padding: 2vw;
  margin: 2vw auto;
}

swiper-slide {
  text-align: center;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 50%;
  height: 50%;
  object-fit: cover;
}

@media (max-width: 500px) {
  swiper-container {
    padding: 2vw;
    margin: 2vw auto;
  }
  
  swiper-slide {
    font-size: 2vw;
  }
  
  swiper-slide img {
    width: 100%;
    height: 100%;
  }
}

/* Slider Avis */

#avis-google{
  padding: 5vw;
  background-color: var(--fourthColor);
}

#avis-google .swiper-wrapper{
margin: 2vw;
}

#avis-google .es-review-content-text{
  width: 85%;
}

/* Carte */
.adresse {
  text-align: center;
  margin: 3vw;
  font-family: var(--secondaryFont);
}

.adresse p {
  font-size: 3vw;
  margin-bottom: 1vw;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

.social-link img {
  width: 4vw;
  height: 4vw;
}

iframe {
  display: block;
  margin: 0 auto;
  border: 0;
  width: 80vw;
  height: 40vw;
}

@media (max-width: 500px) {
  .adresse p {
    font-size: 5.5vw;
    margin-bottom: 1vw;
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
  }

  .social-link img {
    width: 8vw;
    height: 8vw;
  }

  iframe {
    display: block;
    margin: 0 auto;
    border: 0;
    width: 80vw;
    height: 40vw;
  }
}

/* Page Prestations */
.prestation {
  margin: 2vw;
  text-align: center;
}

.prestation h1{
  margin: 2vw;
}
.prestation .presta {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vw;
}

.prestation .presta:nth-child(odd) {
  flex-direction: row-reverse;
}

.prestation .presta:nth-child(even) {
  flex-direction: row;
}

.prestation .presta .presta-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3vw;
}

.prestation .presta .presta-description .prix{
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border: none;
  padding: 1vw 2.5vw;
  border-radius: 50px;
  font-family: var(--primaryFont);
  font-size: 1.6vw;
  margin-top: 2vw;
}

.prestation img {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .prestation {
    margin: 2vw -2vw;
    text-align: center; 
  }

  .prestation .presta {
    display: flex; /* Utilise Flexbox pour la mise en page */
    flex-direction: column; /* Dispose les éléments enfants en colonne */
    margin-bottom: 2vw; /* Ajoute une marge en bas de 2vw */
  }
  
  .prestation .presta:nth-child(odd) img {
    border-radius: 150px 0% 0% 150px; 
    width: 50vw; 
    height: 35vw; 
    transform: translateX(-0vw);
  }
  
  .prestation .presta:nth-child(even) img {
    border-radius: 0% 150px 150px 0%;
    width: 50vw; 
    height: 35vw; 
    transform: translateX(0vw);
  }
  
  .prestation .presta .presta-description {
    width: 60%; 
    padding: 3vw; 
  }

  .prestation .presta .presta-description .prix {
    font-size: 2vw;
    padding: 1vw 2.5vw;
  }
}

@media (max-width: 750px) {
  .prestation .presta {
    display: block; 
    margin-bottom: 2vw; /* Ajoute une marge en bas de 2vw */
    text-align: center;
  }
  
  .prestation .presta:nth-child(odd) img {
    width: 90%; 
    height: 35vw; 
    transform: translateX(10vw);
  }
  
  .prestation .presta:nth-child(even) img {
    width: 90%; 
    height: 35vw; 
    transform: translateX(-10vw);
  }
  
  .prestation .presta .presta-description {
    width: 90vw; 
    margin: 0 auto; /* Centers the description block */
    text-align: center; /* Centers the text within the description block */
  }

  .prestation .presta .presta-description .prix {
    font-size: 3vw;
  }
}

/* Page Nuanciers  */
.image-nuanciers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  margin: 20px;
}

.image-nuanciers img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.image-nuanciers img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Page realisations  */
.image-realisations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin: 20px;
}

.image-realisations img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.image-realisations img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


